<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ironbelly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true" 
      android:extractNativeLibs="true"
      android:theme="@style/DeviceCredentialHandlerTheme">
      <activity
	android:name=".SplashActivity"
	android:theme="@style/SplashTheme"
  android:exported="true"
	android:label="@string/app_name">
  
	<intent-filter>
	  	<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
	</intent-filter>
      </activity>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
	android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
	android:launchMode="singleTask"
	android:screenOrientation="portrait"
	android:fitsSystemWindows="true"
	android:exported="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
      </activity>
     <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
	</provider>
    </application>

</manifest>
