<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ironbelly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true" 
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
	android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
	android:launchMode="singleTask"
	android:screenOrientation="portrait"
	android:fitsSystemWindows="true"
	android:extractNativeLibs="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
	<intent-filter>
		<action android:name="android.intent.action.VIEW"/>
		<category android:name="android.intent.category.DEFAULT"/>
		<data android:host="*"/>
		<data android:scheme="content" />
		<data android:scheme="file" />
		<data android:mimeType="*/*" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.response" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\.response" />
		<data android:pathPattern=".*\\..*\\..*\\.response" />
		<data android:pathPattern=".*\\..*\\.response" />
		<data android:pathPattern=".*\\.response" />
	</intent-filter>
	<intent-filter>
		<action android:name="android.intent.action.VIEW"/>
		<category android:name="android.intent.category.DEFAULT"/>
		<data android:host="*"/>
		<data android:scheme="content" />
		<data android:scheme="file" />
		<data android:mimeType="*/*" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.json" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\.json" />
		<data android:pathPattern=".*\\..*\\..*\\.json" />
		<data android:pathPattern=".*\\..*\\.json" />
		<data android:pathPattern=".*\\.json" />
	</intent-filter>
	<intent-filter>
		<action android:name="android.intent.action.VIEW"/>
		<category android:name="android.intent.category.DEFAULT"/>
		<data android:host="*"/>
		<data android:scheme="content" />
		<data android:scheme="file" />
		<data android:mimeType="*/*" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.slate" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\.slate" />
		<data android:pathPattern=".*\\..*\\..*\\.slate" />
		<data android:pathPattern=".*\\..*\\.slate" />
		<data android:pathPattern=".*\\.slate" />
	</intent-filter>
	<intent-filter>
		<action android:name="android.intent.action.VIEW"/>
		<category android:name="android.intent.category.DEFAULT"/>
		<data android:host="*"/>
		<data android:scheme="content" />
		<data android:scheme="file" />
		<data android:mimeType="*/*" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tx" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\.tx" />
		<data android:pathPattern=".*\\..*\\..*\\.tx" />
		<data android:pathPattern=".*\\..*\\.tx" />
		<data android:pathPattern=".*\\.tx" />
	</intent-filter>
	<intent-filter>
		<action android:name="android.intent.action.VIEW"/>
		<category android:name="android.intent.category.DEFAULT"/>
		<data android:host="*"/>
		<data android:scheme="content" />
		<data android:scheme="file" />
		<data android:mimeType="*/*" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.slatepack" />
		<data android:pathPattern=".*\\..*\\..*\\..*\\.slatepack" />
		<data android:pathPattern=".*\\..*\\..*\\.slatepack" />
		<data android:pathPattern=".*\\..*\\.slatepack" />
		<data android:pathPattern=".*\\.slatepack" />
	</intent-filter>
	<intent-filter>
		<action android:name="android.intent.action.SEND"/>
		<category android:name="android.intent.category.DEFAULT"/>
		<data android:mimeType="*/*" />
	</intent-filter>


      </activity>
     <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
	</provider>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
